*{
  background-color: lightgrey;
}
.App-header{
  margin: 5px;
  display: flex;
  justify-content: space-between;
}
.App-controls button{
  border: none;
  width: 100%;
  height: 100%;
  &:hover{
    background-color: grey;
  }
  &:active{
    background-color: darkgray;
  }
}
