* {
  background-color: lightgrey;
}
.App-header {
  margin: 2px;
  display: flex;
  justify-content: space-around;
  button {
    border: none;
    &:hover {
      background-color: grey;
    }
    &:active {
      background-color: darkgray;
    }
  }
}
